<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- daterangepicker -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datepicker.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrapValidator.min.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-tagsinput.css')}}"/>
        <style>
            .bootstrap-tagsinput{
            display: block;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Expenstica</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Page 1-1</a>
                                </li>
                                <li>
                                    <a href="#">Page 1-2</a>
                                </li>
                                <li>
                                    <a href="#">Page 1-3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if session['logged_in'] %}
                        <li>
                            <a href="{{url_for('logout')}}">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </li>
                        {% else %}	
                        <li>
                            <a href="/signup">
                            <span class="glyphicon glyphicon-user"></span> Sign Up
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('login')}}">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <ul class="nav nav-tabs" id="myTabs">
                <li>
                    <a href="#profileMenu" data-toggle="tab" aria-controls="chart" id="tab4">
                    <b>Profile</b>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#expenseMenu" id="tab5">
                    <b>Expense Entry</b>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu6">Menu 6</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="expenseMenu" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div class="alert alert-success hidden" id="info-success">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Item added Successfully.
                                    </div>
                                    <div class="alert alert-danger hidden" id="info-error">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Error adding item.
                                    </div>
                                    <form id="expenseForm" class="form-horizontal form-label-left" method="post" action="{{url_for('create_item')}}"
                                        data-bv-message="This value is not valid"
                                        data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                        data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                        data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                                        >
                                        <div class="form-group">
                                            <label for="catagory" class="control-label col-md-3 col-sm-3 col-xs-12">Catagory</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <select required class="form-control selectpicker" id="catagory" name="catagory"  
                                                    data-bv-notempty="true"
                                                    data-bv-notempty-message="The Category is required and cannot be empty"
                                                    >
                                                    <option value="">Select the category</option>
                                                    {% for elem in user.catagories|sort %}
                                                    <option value="{{ elem }}">{{ elem }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="details">Details</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input type="text" id="details" name="details"  class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="amount">Amount</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input type="text" id="amount" name="amount"  class="form-control col-md-7 col-xs-12" maxlength="12"
                                                    data-bv-notempty="true"
                                                    data-bv-notempty-message="The Amount is required and cannot be empty"
                                                    data-bv-regexp="true"
                                                    data-bv-regexp-regexp="^-?\d*(\.\d{1,2})?$"
                                                    data-bv-regexp-message="Amount must be integer/decimal with 2 digit precision"
                                                    />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Expense</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input type="text" class="form-control" name="expensedate" id="expensedate"
                                                    data-bv-notempty="true"
                                                    data-bv-notempty-message="The Date is not valid."
                                                    data-bv-date="true"
                                                    data-bv-date-format="MM/DD/YYYY"
                                                    data-bv-date-message="The Date format should be MM/DD/YYY."
                                                    />
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button type="reset" class="btn btn-primary">Reset</button>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profileMenu" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="profileForm" class="form-horizontal form-label-left">
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">First Name</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="input-group">
                                                    <input id="firstName" class="form-control col-md-7 col-xs-12"  name="firstName" maxlength="25" placeholder="e.g John" type="text" value="{{ user.firstname}}"
                                                        disabled/>
                                                    <span  class="input-group-addon">
                                                    <a id="edit-firstName" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Last Name</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="input-group">
                                                    <input id="lastName" class="form-control col-md-7 col-xs-12"  name="lastName" maxlength="25" placeholder="e.g John" type="text" value="{{ user.lastname}}"
                                                        disabled/>
                                                    <span id="edit-lastName" class="input-group-addon">
                                                    <a id="edit-lastName" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email </label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" type="email" id="email" name="email" 
                                                    value="{{ user.email}}"
                                                    disabled/>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comment">Catagories </label>
                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12"  id="catagory-tags" data-role="tagsinput" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/moment/moment.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-datepicker.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/bootstrapValidator.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-tagsinput.min.js')}}"></script>
        <script>
            $(document).ready(function() {
             $('#expenseForm').bootstrapValidator()
              .on('error.form.bv', function(e) {
               $("#info-success").addClass("hidden");
               $("#info-error").addClass("hidden");
            
              })
              .on('success.form.bv', function(e) {
               $("#info-success").addClass("hidden");
               $("#info-error").addClass("hidden");
               /* Prevent form submission */
               e.preventDefault();
               /* Get the form instance */
               var $form = $(e.target);
               /* Get the BootstrapValidator instance */
               var bv = $form.data('bootstrapValidator');
               /* Use Ajax to submit form data */
               $.post($form.attr('action'), $form.serialize(), function(result) {
                if (result = "Success") {
                 $("#info-success").toggleClass("hidden");
                 bv.resetForm(true);
                 $('#expenseForm').trigger('reset');
                } else {
                 $("#info-error").toggleClass("hidden");
                 $('#expenseForm').trigger();
                }
               }, 'text');
              });
            
             $("#tab4").on('shown.bs.tab', function() {
            
              $('#catagory-tags').
              tagsinput("add", "{% for elem in user.catagories|sort %}{{ elem }}{% if not loop.last %},{% endif %}{% endfor %}");
             });
            
             $('#myTabs a:first').tab('show');
            
            
            
             $('#expensedate').datepicker({
              format: 'mm/dd/yyyy',
              todayHighlight: true,
              /*todayBtn:'linked' */
              /* startDate: '-3d' */
             }).on('changeDate', function(e) {
              $('#expenseForm')
               .data('bootstrapValidator')
               .updateStatus('expensedate', 'NOT_VALIDATED')
               .validateField('expensedate');
             });
            
             $('#amount').change(function() {
             $('#amount').val(parseFloat($('#amount').val()).toFixed(2));
              $('#expenseForm')
               .data('bootstrapValidator')
               .updateStatus('amount', 'NOT_VALIDATED')
               .validateField('amount');
             });
             
             $("#edit-firstName").click(function() {
              $("#firstName").prop('disabled', false);
             });
             
             $("#edit-lastName").click(function() {
              $("#lastName").prop('disabled', false);
             });
            
            
            });
        </script>
    </body>
</html>