<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='fonts/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/animate.min.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
        <script>
            $(document).ready(function() {
              $('#loginForm').bootstrapValidator();
            });
        </script>
    </head>
    <body>
        <div id="wrap">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Expenstica</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{url_for('signup')}}">
                                <span class="glyphicon glyphicon-user"></span> Sign Up
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('login')}}">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <center>
                                    <b>Login to your Account</b>
                                </center>
                            </div>
                            <div class="panel-body">
                                {% if error %}
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <small>{{error}}</small>
                                </div>
                                {% endif %}
                                {% if info %}
                                <div class="alert alert-success">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{info}}
                                </div>
                                {% endif %}
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <form id="loginForm" class="form-horizontal form-label-left" action="/login" method="post" 
                                                data-bv-message="This value is not valid"
                                                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                                                >
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email 
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input class="form-control col-md-7 col-xs-12" type="email" id="email" name="email" 
                                                            data-bv-notempty="true"
                                                            data-bv-notempty-message="The Email is required and cannot be empty"
                                                            data-bv-emailaddress="true"
                                                            data-bv-emailaddress-message="The input is not a valid email address"
                                                            />
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label for="password" class="control-label col-md-3 col-sm-3">Password</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                                        <input id="password" type="password" name="password"  class="form-control col-md-7 col-xs-12" 
                                                            data-bv-notempty="true"
                                                            />
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <center>
                                                        <button id="send" type="submit" class="btn btn-success">Sign In</button>
                                                    </center>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                            <center>
                            <p>
                            <a href="#">Forgot Password ?</a>
                            <b>|</b>
                            <a href="{{url_for('signup')}}">Sign Up here</a>
                            </p>
                            </center>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
            <div class="container">
                <center>
                    <br>
                    <p class="muted credit">
                        Copyright All Reserved by Chirgal Hansdah .
                    </p>
                </center>
            </div>
        </div>
    </body>
</html>