<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='fonts/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/animate.min.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> 
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrapValidator.min.css')}}"/>
        <script type="text/javascript" src="{{url_for('static',filename='js/bootstrapValidator.min.js')}}"> </script>
        <style>
            .bootstrap-tagsinput{
            display: block;
            }
        </style>
        <script>
            $(document).ready(function() {
              $('#signupForm').bootstrapValidator();
            
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Expenstica</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <center><b>Sign Up New User</b></center>
                    </div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <form id="signupForm" class="form-horizontal form-label-left" method="post" action="{{url_for('signup')}}"
                                            data-bv-message="This value is not valid"
                                            data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                            data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                            data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                                            >
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">First Name <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="firstName" class="form-control input-lg col-md-7 col-xs-12"  name="firstName" maxlength="25" placeholder="e.g John" type="text" 
                                                        data-bv-notempty="true"
                                                        data-bv-notempty-message="The First Name is required and cannot be empty"
                                                        data-bv-stringlength="true"
                                                        data-bv-stringlength-min="3"
                                                        data-bv-stringlength-message="First Name should be of min length 3"
                                                        />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Last Name <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="lastName" class="form-control col-md-7 col-xs-12"  name="lastName" maxlength="25" placeholder="e.g Smith" type="text" 
                                                        data-bv-notempty="true"
                                                        data-bv-notempty-message="The Last Name is required and cannot be empty" 
                                                        data-bv-stringlength="true"
                                                        data-bv-stringlength-min="3"
                                                        data-bv-stringlength-message="Last Name should be of min length 3"
                                                        />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" type="email" id="email" name="email" maxlength="35"
                                                        data-bv-notempty="true"
                                                        data-bv-notempty-message="The Email is required and cannot be empty"
                                                        data-bv-emailaddress="true"
                                                        data-bv-emailaddress-message="The input is not a valid email address"
                                                        />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label for="password" class="control-label col-md-3">Password</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="password" type="password" name="password"  maxlength="12" class="form-control col-md-7 col-xs-12" 
                                                        data-bv-notempty="true"
                                                        data-bv-notempty-message="The password is required and cannot be empty"
                                                        data-bv-identical="true"
                                                        data-bv-identical-field="confirmPassword"
                                                        data-bv-identical-message="The password and its confirm are not the same"
                                                        data-bv-different="true"
                                                        data-bv-different-field="username"
                                                        data-bv-different-message="The password cannot be the same as username"
                                                        data-bv-regexp="true"
                                                        data-bv-regexp-regexp="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,12}$"
                                                        data-bv-regexp-message="Password must contain at least 1 uppercase  letter, 1 lowercase letter, 1 digit and 1 special  character"
                                                        />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label for="confirmPassword" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="confirmPassword" type="password" name="confirmPassword"  maxlength="12" class="form-control col-md-7 col-xs-12"
                                                        data-bv-notempty="true"
                                                        data-bv-notempty-message="The confirm password is required and cannot be empty"
                                                        data-bv-identical="true"
                                                        data-bv-identical-field="password"
                                                        data-bv-identical-message="The password and its confirm are not the same"
                                                        data-bv-different="true"
                                                        data-bv-different-field="username"
                                                        data-bv-different-message="The password cannot be the same as username"						
                                                        />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <center>
                                                    <button id="send" type="submit" class="btn btn-success" value="send">Sign Up</button>
                                                </center>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">  
                    </div>
                    </form>			   
                </div>
            </div>
        </div>
    </body>
</html>